@import "tailwindcss";
@keyframes slideDown {
  0% {
    transform: translate(-50%, -100%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

/* Button Styles */
button {
  padding: 10px 20px;
  background-color: maroon;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #b82626;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .dashboard {
    padding: 15px;
  }
  .summary, .categories {
    padding: 15px;
  }
}
